.navbar__item.navbar__link {
  line-height: 0.5;
}

.markdown li a {
  unicode-bidi: plaintext;
}

code {
  direction: rtl;
  unicode-bidi: isolate;
}

.theme-code-block {
  direction: rtl;
}

.theme-code-block div[class^="codeBlockTitle"] {
  unicode-bidi: plaintext;
  text-align: right;
}

.theme-code-block pre code {
  max-height: 30rem;
}

.theme-doc-markdown.markdown img {
  display: block;
  margin: auto;
}

.markdown h2 {
  padding-block-end: 0.5rem;

  border-block-end: 1px solid currentColor;
}
